<!doctype html>
<html lang="en" ng-app="qrApp">
<head>
  <meta charset="utf-8">
  <title>QR</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <script src="/static/lib/angular-file-upload-shim.min.js"></script>
  <script src="/static/lib/angular/angular.min.js"></script>
  <script src="/static/lib/angular/angular-resource.min.js"></script>
  <script src="/static/lib/angular/angular-route.min.js"></script>

  <script src="/static/js/services.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/app.js"></script>

  <script src="/static/lib/jquery/jquery-1.11.0.min.js"></script>
  <script src="/static/lib/bootstrap/bootstrap.min.js"></script>

  <script src="/static/lib/angular-file-upload.js"></script>
  <script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</head>
<body>
<div id="header" class="header navbar navbar-static-top">

</div>
<div class="container page">
  <div class="jumbotron">
    <h1>QR kodo generatorius</h1>

    <p>Servisas skirtas kurti QR koda pagal Lietuvos sąskaitų faktūrų duomenis</p>

    <p>
      <a class="btn btn-primary btn-lg" role="button" href="form">QR kodo kūrimas</a>
      <a class="btn btn-primary btn-lg" role="button" href="decode">QR iškodavimas</a>
      <a class="btn btn-primary btn-lg" role="button" href="description" target="_blank">API dokumentacija</a>
    </p>

    <div id="content" class="container main" ng-view>
    </div>
  </div>
  <hr>
  <footer id="footer" class="footer">
    <div class="footer-right">
      <span>&copy; 2014 Zygimantas Gatelis</span>
    </div>
  </footer>
</div>
</body>
</html>